
*.~1~
*.~2~
*.~3~
*.~4~
*.~5~
*.~6~
*.~7~
*.~8~
src/classes/__history/uItemPedido.pas.~46~
src/classes/__history/uItemPedido.pas.~47~
src/classes/__history/uItemPedido.pas.~48~
src/classes/__history/uItemPedido.pas.~49~
src/classes/__history/uItemPedido.pas.~50~
src/classes/__history/uItemPedido.pas.~51~
src/classes/__history/uItemPedido.pas.~52~
src/classes/__history/uItemPedido.pas.~53~
src/classes/__history/uItemPedido.pas.~54~
src/classes/__history/uItemPedido.pas.~55~
src/classes/__history/uPedido.pas.~62~
src/classes/__history/uPedido.pas.~63~
src/classes/__history/uPedido.pas.~64~
src/classes/__history/uPedido.pas.~65~
src/classes/__history/uPedido.pas.~66~
src/classes/__history/uPedido.pas.~67~
src/classes/__history/uPedido.pas.~68~
src/classes/__history/uPedido.pas.~69~
src/classes/__history/uPedido.pas.~70~
src/classes/__history/uPedido.pas.~71~
src/classes/__history/uProduto.pas.~55~
src/classes/__history/uProduto.pas.~56~
src/classes/__history/uProduto.pas.~57~
src/classes/__history/uProduto.pas.~58~
src/classes/__history/uProduto.pas.~59~
src/classes/__history/uProduto.pas.~60~
src/classes/__history/uProduto.pas.~61~
src/classes/__history/uProduto.pas.~62~
src/classes/__history/uProduto.pas.~63~
src/classes/__history/uProduto.pas.~64~
src/forms/__history/uFrMain.pas.~10~
src/forms/__history/uFrMain.pas.~11~
src/forms/__history/uFrMain.pas.~12~
src/forms/__history/uFrMain.pas.~13~
src/forms/__history/uFrMain.pas.~14~
src/forms/__history/uFrMain.pas.~15~
src/forms/__history/uFrMain.pas.~16~
src/forms/__history/uFrMain.pas.~17~
src/forms/__history/uFrMain.pas.~18~
src/forms/__history/uFrMain.pas.~19~
src/forms/__history/uFrmCadProduto.dfm.~10~
src/forms/__history/uFrmCadProduto.dfm.~11~
src/forms/__history/uFrmCadProduto.dfm.~12~
src/forms/__history/uFrmCadProduto.dfm.~13~
src/forms/__history/uFrmCadProduto.dfm.~14~
src/forms/__history/uFrmCadProduto.dfm.~15~
src/forms/__history/uFrmCadProduto.dfm.~16~
src/forms/__history/uFrmCadProduto.dfm.~9~
src/forms/__history/uFrmCadProduto.pas.~40~
src/forms/__history/uFrmCadProduto.pas.~41~
src/forms/__history/uFrmCadProduto.pas.~42~
src/forms/__history/uFrmCadProduto.pas.~43~
src/forms/__history/uFrmCadProduto.pas.~44~
src/forms/__history/uFrmCadProduto.pas.~45~
src/forms/__history/uFrmCadProduto.pas.~46~
src/forms/__history/uFrmCadProduto.pas.~47~
src/forms/__history/uFrmCadProduto.pas.~48~
src/forms/__history/uFrmCadProduto.pas.~49~
src/forms/__history/uFrmListProdutos.dfm.~29~
src/forms/__history/uFrmListProdutos.dfm.~30~
src/forms/__history/uFrmListProdutos.dfm.~31~
src/forms/__history/uFrmListProdutos.dfm.~32~
src/forms/__history/uFrmListProdutos.dfm.~33~
src/forms/__history/uFrmListProdutos.dfm.~34~
src/forms/__history/uFrmListProdutos.dfm.~35~
src/forms/__history/uFrmListProdutos.dfm.~36~
src/forms/__history/uFrmListProdutos.dfm.~37~
src/forms/__history/uFrmListProdutos.dfm.~38~
src/forms/__history/uFrmListProdutos.pas.~36~
src/forms/__history/uFrmListProdutos.pas.~37~
src/forms/__history/uFrmListProdutos.pas.~38~
src/forms/__history/uFrmListProdutos.pas.~39~
src/forms/__history/uFrmListProdutos.pas.~40~
src/forms/__history/uFrmListProdutos.pas.~41~
src/forms/__history/uFrmListProdutos.pas.~42~
src/forms/__history/uFrmListProdutos.pas.~43~
src/forms/__history/uFrmListProdutos.pas.~44~
src/forms/__history/uFrmListProdutos.pas.~45~
src/forms/__history/uFrmProduto.dfm.~10~
src/forms/__history/uFrmProduto.dfm.~11~
src/forms/__history/uFrmProduto.dfm.~12~
src/forms/__history/uFrmProduto.dfm.~13~
src/forms/__history/uFrmProduto.dfm.~14~
src/forms/__history/uFrmProduto.dfm.~15~
src/forms/__history/uFrmProduto.dfm.~16~
src/forms/__history/uFrmProduto.dfm.~17~
src/forms/__history/uFrmProduto.dfm.~9~
src/forms/__history/uFrmProduto.pas.~10~
src/forms/__history/uFrmProduto.pas.~11~
src/forms/__history/uFrmProduto.pas.~12~
src/forms/__history/uFrmProduto.pas.~13~
src/forms/__history/uFrmProduto.pas.~14~
src/forms/__history/uFrmProduto.pas.~15~
src/forms/__history/uFrmProduto.pas.~16~
src/forms/__history/uFrmProduto.pas.~17~
src/forms/__history/uFrmProduto.pas.~9~
src/objetos/__history/uController.pas.~33~
src/objetos/__history/uController.pas.~32~
src/objetos/__history/uController.pas.~31~
src/objetos/__history/uController.pas.~30~
src/objetos/__history/uController.pas.~29~
src/objetos/__history/uController.pas.~28~
src/objetos/__history/uController.pas.~27~
src/objetos/__history/uController.pas.~26~
src/objetos/__history/uController.pas.~25~
src/objetos/__history/uController.pas.~24~
src/forms/Padrao/__history/uFrmPadrao.pas.~9~
src/forms/Padrao/__history/uFrmPadrao.pas.~16~
src/forms/Padrao/__history/uFrmPadrao.pas.~15~
src/forms/Padrao/__history/uFrmPadrao.pas.~14~
src/forms/Padrao/__history/uFrmPadrao.pas.~13~
src/forms/Padrao/__history/uFrmPadrao.pas.~12~
src/forms/Padrao/__history/uFrmPadrao.pas.~11~
src/forms/Padrao/__history/uFrmPadrao.pas.~10~
src/forms/Padrao/__history/uFrmPadrao.dfm.~9~
src/forms/Padrao/__history/uFrmListPadrao.pas.~30~
src/forms/Padrao/__history/uFrmListPadrao.pas.~29~
src/forms/Padrao/__history/uFrmListPadrao.pas.~28~
src/forms/Padrao/__history/uFrmListPadrao.pas.~27~
src/forms/Padrao/__history/uFrmListPadrao.pas.~26~
src/forms/Padrao/__history/uFrmListPadrao.pas.~25~
src/forms/Padrao/__history/uFrmListPadrao.pas.~24~
src/forms/Padrao/__history/uFrmListPadrao.pas.~23~
src/forms/Padrao/__history/uFrmListPadrao.pas.~22~
src/forms/Padrao/__history/uFrmListPadrao.pas.~21~
src/forms/Padrao/__history/uFrmListPadrao.dfm.~27~
src/forms/Padrao/__history/uFrmListPadrao.dfm.~26~
src/forms/Padrao/__history/uFrmListPadrao.dfm.~25~
src/forms/Padrao/__history/uFrmListPadrao.dfm.~24~
src/forms/Padrao/__history/uFrmListPadrao.dfm.~23~
src/forms/Padrao/__history/uFrmListPadrao.dfm.~22~
src/forms/Padrao/__history/uFrmListPadrao.dfm.~21~
src/forms/Padrao/__history/uFrmListPadrao.dfm.~20~
src/forms/Padrao/__history/uFrmListPadrao.dfm.~19~
src/forms/Padrao/__history/uFrmListPadrao.dfm.~18~
src/DM/__history/uDMConexao.dfm.~9~
src/DM/__history/uDMConexao.dfm.~10~
*.dcu
